button {
    width: 100%;
    border: none;
    border-radius: 4px;
}

.red {
    background-color: red;
    color: white;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
    color: white;
}